[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
lts = "*"
psycopg2-binary = "==2.8.6"
django-bootstrap-v5 = "*"
Pillow = "*"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
django-registration = "==2.4.1"
django-tinymce = "*"
django = "*"
django-utils-six = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
